@model WebApplication2.Entities.State
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Id
        </dt>
        <dd>
            Name
        </dd>
        <dt>
            @Model.Name
        </dt>
    </dl>
    <span>Are you sure you want to <b>delete</b> this State</span>
    <form asp-action="DeleteState">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
    <a asp-action="Index">Go back to list of student</a>
</div>