@model WebApplication2.Entities.Region
<div>
    <form asp-action="Update">
        <div>
            <label>Name</label>
            <input type="text" name="Name" value="@Model.Name" required>
        </div>
        <div>
            <label>Populationl</label>
            <input type="number" name="Population" value="@Model.Population" required>
        </div>
        <div>
            <label>IGR</label>
            <input type="number"  name ="IGR" value="@Model.IGR" required>
        </div>
        <div>
            <input type="submit"  value="Add" class="btn btn-primary" required>
        </div>
        
    </form>
</div>